
.home{

    .home-cont{

        .sidebar-box{
            margin-left: auto;
            flex: 1;

        }

        .home-wrapper{
            font-weight: 700;
            display: flex;
        }
    }
}