
.home{

    .home-cont{

        
        .home-wrapper{
            font-weight: 700;
            display: flex;

            .middle-box{
                flex: 5;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .sidebar-box{
                margin-left: auto;
                flex: 1;
    
            }
        }
    }
}