

.topcard{
    margin: 1em;
    border-radius: 1rem;
    padding: 1.5em;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 8px 16px 40px 4px rgba(201, 201, 201, 0.47);
    background: linear-gradient(180deg, #1c1c1e 0%, #0f0f11 100%);


    .top{
        display: flex;
        margin-bottom: 2rem;

        
        .left-top{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: start;

            h4{
                color: rgba(188, 184, 184, 0.761);
                margin: 0;
                font-weight: 700;
            }

            h1{
                color: white;

            }
            .green{
                display: flex;
                gap: .2rem;
                align-items: center;

                .arrows{
                 color: rgb(84, 221, 84);
            
                }
                span{
                    color: rgb(84, 221, 84);
                }
                p{
                    color: rgba(188, 184, 184, 0.761);
                }
            }
    
        }
        .right-top{
            flex: 1;
             display: flex;
            flex-direction: column;
            align-items: start;

    
            h4{
                color: rgba(188, 184, 184, 0.761);
            }
            h3{
                 color: white;
            }
            .green-sm{
                display: flex;
                gap: .2rem;
                align-items: center;


                .arrows{
                      color: rgb(84, 221, 84);
                    font-size: .9rem;
                }
                span{
                  color: rgb(84, 221, 84);
                  font-size: .8rem;
                
                }
                p{
                    color: rgba(188, 184, 184, 0.761);
                    font-size: .9rem;
                }

            }
            .charts-div{
                color: white;
            }
        }
        
    }
    .bottom{
        display: flex;
        gap: 1rem;
        justify-content: space-evenly;

        .crypto-div{
            padding: .8em 1.2em;
            background-color: #333;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            align-items: start;

            .crypto-icn{
                background-color: white;
                padding: .3em;
                border-radius: .4rem;
            }

            h5{
                 color: rgba(188, 184, 184, 0.761);
            }
            span{
                color: white;
            }
        }
    }
}